<div class="edit-account">
<div class="form-signin">
  <h2>Photographers and Models</h2>
  <p>アカウントを編集</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name , for: "name", class:"form-label"%>
    <%= f.text_field :name, id: "name", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email ,class: "sr-only" , for: "inputEmail",class:"form-label" %>
    <%= f.email_field :email, id: "inputEmail", class: "form-control"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password , class: "sr-only" , for: "inputPassword",class:"form-label" %>
    <%= f.password_field :password,id: "inputPassword", class: "form-control" ,placeholder: "変更する場合のみ入力"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , class: "sr-only" , for: "inputPassword_Confirmation",class:"form-label"%>
    <%= f.password_field :password_confirmation, id: "inputPassword_Confirmation", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password , class: "sr-only" , for: "inputPassword_Current",class:"form-label"%>
    <%= f.password_field :current_password, id: "inputPassword_Current", class: "form-control",placeholder: "更新のために必要です"%>
  </div>

  <div class="field">
    <%= f.label :プロフィール写真 ,class: "sr-only" , for: "image",class:"form-label" %>
    <%= f.file_field :image, id: "image", class: "form-control"%>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: "button" %><br>
  </div>
<% end %>

<p>アカウントを削除しますか？ <%= button_to "削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cansel-button"%></p>

<%= link_to "戻る", :back %>
</div>
</div>
