<div class="comment-form">
<%= form_for([@post, @post.comments.build]) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2>エラーにより保存できません</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :body, id: :comment_body ,:size =>"65,1" ,:maxlength => "90"%>
  </div>
  <%= f.hidden_field :post_id %>
  <%= f.hidden_field :user_id %>

  <div class="actions">
    <%= f.submit "送信" , class: "btn btn-outline-secondary btn-sm"%>
  </div>
<% end %>
</div>
