<div class="user-page">

  <div class="category">
    <% if @user.category == "カメラマン" %>
      <h2>Photographer</h2>
    <% else %>
      <h2>Model</h2>
    <% end %>
  </div>
  <div class="users-header">
    <div class="header-image">
      <% @user.introductions.each do |user| %>
        <%= image_tag(user.image_url(:thumbnail), class: "image")%>
      <% end %>
    </div>

    <div class="header-content">
      <p><%= @user.name %></p>

      <div class="follow_form"><%= render 'follow_form', user: @user %></div>
      <ul>
        <% if current_user == @user %>
          <li><%= link_to 'メッセージ', conversations_path , class: "list"%></li>

        <% else %>
          <li><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post ,class: "list"%></li>

        <% end %>
        <li><%= link_to 'フォロー中', user_followed_path(current_user), class: "list"%></li>
        <li><%= link_to 'フォロワー', user_follower_path(current_user) , class: "list"%></li>
      </ul>

      <div class="Self-introduction">
        <% @user.introductions.each do |user| %>
        <ul>
          <li><p>年齢：<%= user.age %></p></li>
          <li><p>活動エリア：<%= user.area %></p></li>
       </ul>
         <dl id="accordion">
           <dt>プロフィールはこちら</dt>
           <dd><%= user.body %></dd>
         </dl>
          <% if @user == current_user %>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <%= link_to 'プロフィール編集', edit_introduction_path(user) , class: "dropdown-item"%>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if @user.introductions.empty? %>
          <% if @user == current_user %>
            <%= link_to 'まずはプロフィールを追加しましょう！', new_introduction_path , class: "dropdown-item"%>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>

  <div class="user-posts">
    <div class="container">
      <div class="row">
        <% @user.posts.each do |post| %>
          <div class="col-lg-4 col-sm-6">
            <%= image_tag(post.image_url(:standard),class: "image")%>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <%= link_to 'コメントを見る', post , class: "dropdown-item"%>
                <% if post.user == current_user %>
                  <%= link_to '編集', edit_post_path(post) , class: "dropdown-item"%>
                  <%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "dropdown-item"%>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
