<div class="post-form">
<%= form_with(model: introduction, local: true) do |form| %>
  <% if introduction.errors.any? %>
    <div id="error_explanation">
      <h2>エラーにより保存できません</h2>

      <ul>
      <% introduction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :年齢 %><br>
    <%= form.text_field :age, :maxlength => "6"%>
  </div>

  <div class="field">
    <%= form.label :活動エリア %><br>
    <%= form.text_field :area, :maxlength => "30"%>
  </div>

  <div class="field">
    <%= form.label :プロフィール %><br>
    <%= form.text_area :body, id: :introduction_body ,:size => "40x3" , :maxlength => "370"%>
  </div>

  <div class="field">
    <%= form.label :プロフィール写真 %><br>
    <%= form.file_field :image, id: :introduction_image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit :value=>"公開する" ,:class=>"btn btn-outline-primary" %>
    <%= link_to '戻る', user_path(current_user) ,class:"btn btn-outline-secondary"%>
  </div>

<% end %>
</div>
