<div class="wrapper">
  <div class="form-signin">
    <h2>Photographers and Models</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email ,class: "sr-only" , for: "inputEmail",class:"form-label" %><br/>
      <%= f.email_field :email, id: "inputEmail", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password , class: "sr-only" , for: "inputPassword",class:"form-label" %><br/>
      <%= f.password_field :password,id: "inputPassword", class: "form-control"  %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "ログイン" , class: "button" %><br>
    </div>
  <% end %>

  <span>アカウントを作成する</span><br>
  <%= link_to "登録する",  new_user_registration_path %>
  </div>
</div>
