<div class="posts-index-page">

  <h2>photogallery</h2>
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="card">
            <%= link_to post.user.name, user_path(post.user_id), class: "post-username" %>
            <div class="card-img-top">
              <%= image_tag(post.image_url(:standard),class:"image") %></div>
            <div class="body">
              <%= link_to '詳細を見る', post , class: "post-comment"%>
              <% if post.user == current_user %>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <%= link_to '編集', edit_post_path(post) , class: "dropdown-item"%>
                    <%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "dropdown-item"%>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
