<div class="main-content">
<div class="post-index-page">


    <% @posts.each do |post| %>
        <%= post.user.name %>
        <%= post.category %>
        <%= image_tag post.image %><br>
        <%= post.content %><br>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %>

<br>


<%= link_to 'New Post', new_post_path %>
</div>
</div>
